{% extends 'index.html' %}{% block content%}
<div class="mt-3">
  <h1 class="text-center" style="font-size: 5vh">About CandidFashion</h1>
  <p class="text-center" style="font-size: 2vh">
 
    Being able to recognize apparel products from pictures could enhance the shopping experience for consumers. 
    <br>
    This platform aims to makes the apparel items, in given fashion image, available as separate image - ready to be able to search and buy online. 
    <br>
    Reverse Image search currently has to be done manually using platforms like <a href="https://lykdat.com/" style="color:Green;"> Lykdat</a> but can be integrated as an api service. 
    <br>
    (Lykdat doesn't have an open APi, but has a twitter bot that can be used)


  </p>
  <!-- <p style="font-size: x-large">
    <i class="fas fa-cogs"></i>
    Process of training
  </p>
  <img
    src="{{url_for('static', filename='information/train.png')}}"
    style="width: 130vh"
  />
  <br />
  <br />
  <br />
  <p style="font-size: x-large">
    <i class="fas fa-cogs"></i>
    Process of inference
  </p>
  <img
    src="{{url_for('static', filename='information/inference.png')}}"
    style="width: 130vh"
  /> -->
</div>

{% endblock %}
